 /* Estilos para o corpo da página */
 body {
    color: #fafafa;
    background: url('../img/bg.jpeg') center/cover;
    position: relative;
    margin: 0;
    padding: 0;

  }
/* Camada preta por trás do conteúdo */
body::before {
  content: "";
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}  
    /* Estilos para a barra de navegação */
  #navbarNav {
    margin-left: 20px;
  }
  
  .navlink {
    padding: 10px;
  }
  
  .navbar-nav .nav-item:hover {
    color: #000000;
    background-color: rgba(0, 19, 227, 0.2);
    border-radius: 5px;
  }
  
    /* Estilos para o container principal */
  .container {
    background-color: rgba(81, 184, 248, 0.9);
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
  }
  
    /* Estilos para o rodapé */
  .footer {
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .footer a {
    color: #000000;
  }
  .footer p{
    border-radius: 10px;
    background-color: rgba(0, 16, 195, 0.526);
    display: block;
    padding: 5px;
  }
    /* Estilos para a seção "Sobre a Aplicação" */
  #aboutContent {
    position: fixed;
    top: 100px;
    left: 70%;
    transform: translateX(-50%);
    color: #000;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 999;
  }
  
    /* Estilos para os cartões dos membros */
  .member-card {
    text-align: center;
    align-items: center;
    padding-top: 20px;
    color: #000;
    border-radius: 10%;
  }
  
  .member-card img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
    /* Estilos para os ícones de contato */
  .contact-icons {
    text-align: center;
  }
  
  .contact-icons li {
    display: inline-block;
    margin: 0 5px;
  }
  
  .contact-icons a {
    color: #000;
    font-size: 24px;
  }
  